.header {
    max-width: 390px;
    margin: auto;
    padding: 40px 16px;
    background-image: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(26,26,26,1) 70%), url(/images/header-abstract.svg);
    &__nav {
        display: flex;
        justify-content: space-between;
        padding: 14px 14px 14px 24px;
        border-radius: 100px;
        border: 1px solid var(--grey-15);
        background-color: var(--grey-11);
    }
    &__nav-logo {
        display: flex;
        align-items: center;
    }
    &__nav-btn-mobile {
        cursor: pointer;
        padding: 6px 14px;
        border: none;
        border-radius: 82px;
        background-color: var(--green-60);
    }
}